.output{
    display: none;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 5px 5px 10px #e8e8e8,
        -5px -5px 10px #ffffff;
}

body{
 font-family: 'Cairo', sans-serif;
}

table {
    border-collapse: separate;
    border-spacing: 0 .6em;
    padding: 20px;
}


th,td,tr{
    padding: .9em !important;
}